<% # <h1>Admin::Dashboard#show</h1> %>
<% # <p>Find me in app/views/admin/dashboard/show.html.erb</p> %>

<p>Total products = <%= @num_products.count %></p>
<p>Total categories = <%= @num_categories.count %></p>